.imgItem{
    width: 80px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #buttonCreateContainer{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #new{
    margin-right: 7px;
  }
  
  button {
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  #search{
    margin-right: 10px;
  }
  #buttonS{
    margin-top: 10px;
  }
  #btnSearch{
    width: 110px;
    height: 40px;
  }
  
  .btn-secondary {
    background-color: black;
    color: #fff;
    border: none;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #eeeeee4d;
  }
  
  tr:nth-child(odd) {
    background-color: #FFFFFF;
  }
  
  th {
    background-color: black;
    color: white;
  }

  #iconEdit{
    margin-right: 7px;
  }
  
  .botoneraPaginacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  #btnPag{
    padding: 10px;
  }
  
  #btnSearch {
    margin-top: 10px;
  }
  
  #btnNavToCategoryItems,
  #btnEditCategory,
  #btnDeleteCategory {
    margin-right: 5px;
  }

  .btn-light {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;
  }
  
  .btn-primary {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;
  }
  
  .btn-light i,
  .btn-primary i {
    color: #dc3545;
  }
  
  .btn-light:hover,
  .btn-primary:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-light:hover i,
  .btn-primary:hover i {
    color: #fff;
  }
  