<h1>Ficha de Articulo</h1>


<form *ngIf="item" #itemForm="ngForm" name="itemForm" role="form" novalidate autocomplete="off">

    <!--ID-->
    <div class="form-group">
        <label for="id">Id</label>
        <input disabled type="number" [(ngModel)]="item.id" name="id" class="form-control" id="price" #id="ngModel">
    </div>

    <!--CATEGORIA-->
    <div class="form-group">
        <label for="categoryId">Categoria</label>
        <p-autoComplete [(ngModel)]="selectedCategory" [suggestions]="categories" (completeMethod)="getAllCategories($event)"
        name="selectedCategory" field="name"
        (onSelect)="categorySelected()" (onClear)="categoryUnselected()" [required]="true" [forceSelection]="true"></p-autoComplete>
    </div>

    <!--NOMBRE-->
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" [(ngModel)]="item.name" name="name" class="form-control" id="name" #name="ngModel" required
            minlength="3" maxlength="100">
    </div>

    <div *ngIf="(name.dirty && name.errors)">
        <small class="form-text text-danger"
         *ngIf="name.errors['required']">
            Este campo es requerido
        </small>
        <small class="form-text text-danger"
         *ngIf="name.errors['minlength']">
            Este campo tiene que tener un longitud minima de 3 caracteres
        </small>
    </div>

    <!--DESCRIPCION-->
    <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" [(ngModel)]="item.description" name="description" class="form-control" id="description"
            #description="ngModel" maxlength="2000">
    </div>

    <!--PRECIO-->
    <div class="form-group">
        <label for="price">Precio</label>
        <input type="number" [(ngModel)]="item.price" name="price" class="form-control" id="price" #price="ngModel"
            required min="1">
    </div>

    <div *ngIf="(price.dirty && price.errors)">
        <small class="form-text text-danger"
         *ngIf="price.errors['required']">
            Este campo es requerido
        </small>

        <small class="form-text text-danger" *ngIf="price.errors['min']">
            El valor debe ser positivo
        </small>
    </div>

    <!--IMAGEN-->
    <div class="form-group">
        <label for="image">Imagen</label>
        <input type="file" id="image" class="form-control" id="image" (change)="includeImageInItem($event)">
        <img id="imagenFicha" *ngIf="item.image" [src]="'data:image/webp;base64,'+item.image">
    </div>

    <div class="buttonsForm">
        <button class="btn btn-success" (click)="saveItem()" [disabled]="itemForm.invalid" [routerLink]="['/items']">Guardar</button>
    </div>

</form>