footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");

}